/* body {
    background-color:#F6F3E6;
} */



.container {
    display: flex;
    /* align-content: flex-end; */
    justify-content: flex-end;
    /* position: relative; */
}

/* .flex-item {
    align-self: flex-end;
    position: absolute;
    top: 170px;
    right: 140px;
} */

.spices {
    position: absolute;
    bottom: 20px;
    left: 20px;
    height: 500px;
    width: 445px;
    box-shadow: 30px -30px 0px #eccb83; 
}

.logo {
    position: absolute;
    top: 12rem;
    /* left: 1rem; */
    right: 5rem;
    height: 33rem;
    width: auto;
}

.motto {
    text-align: right;
    position: absolute;
    top: 34rem;
    right: 14rem;
}

.motto p:last-child {
    font-size: small;
}